@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto&family=Ubuntu:wght@300;400&display=swap');


.App-header{
  background-color: black;
  height: 5rem;
  display: flex;
  justify-content: center;
}

  .logo{
    justify-content: center;
    background-color: white;
    padding: 0.5rem;
    height: 100%;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
  }

  .logo h1{
    margin: 0;
    text-align: center;
  }
    .logo p{
      display: flex;
      justify-content: center;
      margin: 0px;
      padding: 0px;
    }